.filter-container{
    background-color: var(--bg-white);
    position: relative;
    bottom: 50px;
    max-width: 98%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 4px var(--secondary-color-text);
    padding: 16px;
}

.bedroom-container, .bathroom-container, .max-price-container, .home-type-container{
    display: flex;
    flex-direction: column;
}

.filter-container label{
    margin-bottom: 8px;
}

.select-bedrooms, .select-bathrooms, .select-max-price{
    min-width:160px;
    padding: 8px 30px 8px 8px;
    margin-right: 16px;
    border-radius: 8px;
    font-size: 16px;
    border-color: var(--secondary-color-text);
}

.select-home-type{
    min-width:160px;
    padding: 8px 30px 8px 8px;
    border-radius: 8px;
    font-size: 16px;
    border-color: var(--secondary-color-text);
}

@media (max-width: 825px){

    .filter-container{
        bottom: 78px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filter-container label{
        display: none;
    }

    .bedroom-container, .bathroom-container{
        margin-bottom: 8px;
    }

    .select-bedrooms, .select-bathrooms, .select-max-price{
        margin-right: 0px;
    }
    
    }