.contact-us-modal{
    position: fixed;
    top: 150px;
    left: 30%;
    width: 40%;
    background-color: var(--bg-white);
    border: solid 1px var(--secondary-color-text);
    border-radius: 16px;
}

.contact-us-container{
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
}

.contact-us-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.contact-us-header-and-address{
    display: flex;
    flex-direction: column;
}

.contact-us-header-and-address h2{
    font-weight: 300;
    margin-bottom: 16px;
}

.contact-us-header-and-address p{
    font-size: 14px;
    font-weight: 100;
}

.contact-us-icon{
    color: var(--dark-blue);
    font-size: 48px;
}

.contact-us-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-us-contact-details{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contact-us-contact-details label{
    margin-bottom: 4px;
}

.contact-us-name, .contact-us-email, .contact-us-phone{
    margin-bottom: 16px;
    padding: 8px 4px;
    border-radius: 8px;
    border: solid 1px var(--secondary-color-text);
}

.contact-us-name::placeholder, .contact-us-email::placeholder, .contact-us-phone::placeholder{
    color: var(--secondary-color-text);
}

.contact-us-message-submit{
    display: flex;
    flex-direction: column;
}

.contact-us-message-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 41px;
}

.contact-us-message-container label{
    margin-bottom: 4px;
}

.contact-us-message{
    padding: 4px 4px;
    border-radius: 8px;
    border: solid 1px var(--secondary-color-text);
}

.contact-us-message::placeholder{
    font-family: 'Inter', sans-serif;
    color: var(--secondary-color-text);
}

.contact-us-submit-btn{
    padding: 8px 0px ;
    background-color: var(--dark-blue);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
}

@media (max-width: 1000px){

    .contact-us-modal{
        top: 80px;
        left: 25%;
        width: 50%;
    }

    .contact-us-form{
        flex-direction: column;
    }

    .contact-us-contact-details{
        width: 100%;
    }
    
    }