.propertyContainer{
    display: grid;
    grid: auto / 50% 50%;
    grid-gap: 40px 40px;
    grid-template-areas:
    'link .' 
    'slider card'
    'des key'
    'bed .';
    padding: 40px 80px;
}

.link{
    grid-area: link;
}

.slider{
    grid-area: slider;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big{
    text-align: center;
    margin-bottom: 10px
}

.big img{
    width:100%;
    border-radius: 16px;
}

.small{
    display: flex;
    justify-content: space-evenly;
}

.small img{
    width: 24%;
    border-radius: 8px;
}

.property-card{
    grid-area: card;
}

.description{
    grid-area: des;
}

.bedroom-prices{
    grid-area: bed;
}

.key-features{
    grid-area: key;
}

.description-header, .bedroom-prices-header, .key-features-header{
    font-weight: 400;
    margin-bottom: 16px;
    color: var(--dark-blue);
}

.description-text{
    width: 80%;
}

.key-features-points p{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.check-mark{
    margin-right: 8px;
    color: var(--light-blue);
    font-size: 24px;
}

.bedroom-prices-container{
    border: solid 1px var(--secondary-color-text);
    border-radius: 16px;
    padding: 8px;
    width: 60%;
}

.bedroom-prices-container p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%
}