.property-card-container{
    display: flex;
    flex-direction: column;
    width: 95%;
}

.property-container-single{
    border: solid 1px var(--secondary-color-text);
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    text-align: center;
}

.property-container h2{
    font-weight: 300;
    margin: 16px 0px;
}

.stats{
    border: solid 1px var(--secondary-color-text);
    display: grid;
    grid: auto auto / 1fr 1fr 1fr;
    grid-gap: 60px 60px;
    margin-bottom: 40px;
    justify-items: center;
}

